body{
    margin: 0;
    border: 0;
}

#container{
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}

#header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(11, 8, 155);
    height: 100px;  
    width: 1200px;
    
}

#top{
    display: flex;
/*     align-items: center; */
    justify-content:space-around;
    background-color: rgb(11, 8, 155);
    height: 100px;  
    
}

#header a{
    text-decoration: none;
    font-size: large;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
}
#content{
    height: 1050px;

}
#content ul li{
    border: 2px solid hsl(24, 29%, 87%);
    list-style: none;

}#content ul {
    display: flex;
    justify-content: space-between;
    padding: 40px;
 }  
#content ul li:hover{
    transition: 1s;
    transform: scale(1.2);
}
#content h3{
    margin: 20px auto;
    font-size: 25px;
    width: 180px;
    height: 40px;
    border-bottom: 4px solid rgb(102, 128, 102);
}

#content img{
    width: 240px;
    height: 280px;
}

#header img{
    width: 75px;
    height: 75px;
}    
#footer p{
    font-size: larger;
    color: white;
}  
   
#other{
        display: flex;
        align-items: center;
        justify-content:space-around;
        background-color: rgb(11, 8, 155);
        height: 200px;
        width: 1200px;
    }  

#footer{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(11, 8, 155);
    height: 200px;
}


#other img{
        height: 125px;
        width: 125px;
    }
#bottom{
        display: flex;
        justify-content: center;
        background-color: rgb(11, 8, 155);
        width: 100%;
    }  
#bottom p{
    font-size: larger;
    color: white;
}
#nav a:hover{
        color:yellowgreen;
}
.service{
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}
.aside{
    position: fixed;
    top: 200px;
    right: 10px;
    list-style: none;
    z-index: 999;
    display: none;
     border-radius: 15px;
}
.aside li{
    border: 1px solid #eee;
    padding: 5px;
    background-color: rgb(159, 214, 236);
    border-radius: 10px;
}
.aside a{
    display: block;
    font-size: 20px;
    transition: all 1s;
}
.service p:hover{
    color: blue;
    cursor: pointer;
}
.service-content{
    background-color: skyblue;
    height: 300px;
    font-size: 30px;
}
.service-content ul{
     
     display: flex;
     height: 300px;
     align-items: center;
     list-style: none;
    
}
.service-content li{
    flex: 1;
}

/* introduction */
.introduction{
     text-align: center;
     width: 1200px;
     margin: 0 auto;
}
.tro{
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.tro img{
    width: 50%;
    display: block;
    float: left;
    height: 450px;
    border-radius: 15px;
}
.tro .txt{
    width: 49%;
    height: 450px;
    display: inline-block;
    text-align: center;
}
.txt p{
      text-align: left;
      padding: 20px;
      font-size: 20px;
      text-indent: 2em;
}
.txt p:nth-child(2){
    border-bottom: 1px solid #ccc;
}
.tro2 img{
    float:right;
}
.list li {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.list li:hover {
    color: red;
    border: 1px solid red;
    }
.service-content li{
font-size: 20px;
}
.service-content span{
    display: block;
}


nav {
    display: flex;
    justify-content: center;
}

.nav li {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.list li {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
.list li:hover{
    color: green;
    border: 1px solid green;
}
#mapleft {
    display: flex;
    float: left;
}
#content hr {
    width: 100%;
    border-bottom: 3px solid black;
    color: black;
}
.container {
    font-size: 20px;
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}